/* Styles */

.list{
    margin-left: 20px;
}
h1{
    padding: 0 30px 30px 30px;
}
h4{
    margin-top:100px;
}
h5{
    font-size: 20px;
}
label{
    font-weight: 500;
    font-size: 25px;
}
.load{
    position: absolute;
    right: 50%;
    margin-top: 300px;
}
.logButton{
    margin:1px;
}

.left{
    float:left
}
button{
    background: #F1F8E9!important
}
